<!DOCTYPE html>
<html lang="en">
<head>
  <title>WebGis</title>
  {% load static %}
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="icon" href="/static/imgs/Logo.png">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->
      <!-- Compiled and minified JavaScript -->
      <script src="{% static 'materialize/js/materialize.min.js' %}"></script>
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
</head>
<body>
{% include "main/includes/navbar.html" %}

<header>{% include "main/includes/messages.html" %}</header>
  
<main>
  {% block content %}
  {% endblock %}
</main>  
  
  {% include "main/includes/footer.html" %}


<style>body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
</style>
</body>
</html>
