{% extends  "main/header.html"%}
{% block content %}
{% load static %}

<div class="navbar-fixed">
    <nav class="nav-map">
        <div class="nav-wrapper">
          <a href="/map" class="brand-logo left hide-on-med-and-down">
            <img id="logo" class="responsive-img" src="{% static 'imgs/Logo-removebg.png'%}" alt="Logo" style="max-height:65px;">
            </a>
            <ul class="right">
                <li><a href="{% url 'main:homepage' %}">Home</a></li>
                <li><a id="sidenav-toggle" href="#"><i class="material-icons">menu</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div id="map"></div>

<ul id="slide-out" class="sidenav sidenav-container sidenav-fixed" style='font-family: "Forum", sans-serif;'>
    <h5 class="center"><b>Select the basemap:</b></h5>
    <select id="tile-layer-select" class="select-class">
      <option value="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png">OpenStreetMap</option>
      <option value="https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png">OpenStreetMap DE</option>
      <option value="https://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}@2x.png">CartoDB Dark</option>
      <option value="https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.jpg">Watercolor</option>
      <option value="https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}">WorldImagery</option>
    </select>
    <h5 class="center"><b>Select your vector dataset:</b></h5>
    
        <ul class="collapsible collapsible-accordion">
            {% for key, value in dataset.items %}
            <li>
            <div style="display: flex; align-items: center;">
                <a href="#"><i class="collapsible-header material-icons tiny arrow-right">keyboard_arrow_right</i></a>
                <a href="#" class="center-focus-strong" ><i id="{{ key }}_icon" class="material-icons tiny">center_focus_strong</i></a>                
                <label style="position: relative; top: 10px; padding-left: 10px;">
                    <input type="checkbox" id="{{ key }}">
                    <span></span>  
                </label>
                <label for="{{ key }}" class="black-text ">{{ key }}</label>
            </div>
                
            <div class="collapsible-body">
                <div class="container">
                    <div class="row">
                        <div class="col s6"><label for="{{ key }}-fillcolor-picker">Fill Color</label></div>
                        <div class="col s6"><input class="color-picker" type="color" id="{{ key }}-fillcolor-picker" value="#ff0000"></div>
                    </div>
                    <div class="row">
                        <div class="col s6"><label for="{{ key }}-color-picker">Line Color</label></div>
                        <div class="col s6 right"><input class="color-picker" type="color" id="{{ key }}-color-picker" value="#ff0000"></div>
                    </div>
                    <div class="row">
                        <div class="col s6"><label for="{{ key }}-fill-opacity">Fill Opacity</label></div>
                        <div class="col s6"><input class="range-picker" type="range" id="{{ key }}-fill-opacity" min="0" max="1" step="0.1" value="0"></div>
                    </div>
                    <div class="row">
                        <div class="col s6"><label for="{{ key }}-line-size">Line Size</label></div>
                        <div class="col s6"><input class="range-picker" type="range" id="{{ key }}-line-size" min="1" max="10" step="1" value="1"></div>
                    </div>
                </div>
            </div>
            </li>
            {% endfor %}
        </ul>
</ul>

<style>
    
    nav {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 2;
    }

    #map {
        position: fixed;
        top: 60px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    #slide-out {
        overflow: hidden;
    }

    .sidenav{
    padding: 0;
    }

    .sidenav li{
    margin-bottom: 0;
    }

    .sidenav-container {
        position: fixed;
        top: 65px;
        bottom: 0;
        width: 300px;
        overflow: hidden; 
    }
 </style>



<script>

    const collapsibleHeader = document.querySelectorAll('.collapsible-header')
  collapsibleHeader.forEach(header => header.addEventListener('click', (event) => {
    event.target.innerHTML === "keyboard_arrow_right" ? event.target.innerHTML = "keyboard_arrow_down" : event.target.innerHTML = "keyboard_arrow_right"
  }))
  
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems, {
        onOpenStart: function(el) {
            // Your code here
        },
        onCloseStart: function(el) {
            // Your code here
        },
    });
});

  let config = {minZoom: 1,maxZoom: 20,zoomControl: false, };
  const zoom = 2;
  const lat = 0;
  const lng = 0
  const map = L.map("map", config).setView([lat, lng], zoom);

  L.control.zoom({ position: "bottomright" }).addTo(map);

  var tileLayer;
    var url = document.getElementById("tile-layer-select").value;
    tileLayer = L.tileLayer(url, {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    document.getElementById("tile-layer-select").addEventListener("change", function() {
        var url = this.value;
        map.removeLayer(tileLayer);
        tileLayer = L.tileLayer(url, {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
    });


//   function getRandomColor() {
//     var letters = '0123456789ABCDEF';
//     var color = '#';
//     for (var i = 0; i < 6; i++) {
//         color += letters[Math.floor(Math.random() * 16)];
//     }
//     return color;
// }

    var geojsonLayers = [];
    "{% for key, value in dataset.items %}"
        var raw_data = "{{value|escapejs|safe}}";
        var geojson = JSON.parse(raw_data);
        // var color = getRandomColor();
        var fillColor = '#000000'
        var color = '#ff0000'
        var layer = L.geoJSON(geojson, {
        style: {
            fillOpacity: 0,
            fillColor: fillColor,
            color: color,
            weight:1
        },
        onEachFeature: function(feature, layer) {
            var popupContent = "<table class='striped'>";
            for (var key in feature.properties) {
                popupContent += "<tr><td><b>" + key + "</b></td><td>" + feature.properties[key] + "</td></tr>";
            }
            popupContent += "</table>"
            layer.bindPopup(popupContent);
            
            
        }
    });
        var bounds = layer.getBounds();
        geojsonLayers.push({
            "id": "{{ key }}",
            "layer": layer,
            "checkbox": document.getElementById("{{ key }}"),
            "bounds": bounds,
        });
    "{% endfor %}"

    geojsonLayers.forEach(function(gj) {
        document.getElementById(gj.id+'_icon').addEventListener('click', function() {
            map.fitBounds(gj.bounds);
        });
        gj.checkbox.addEventListener("change", function() {
            if (this.checked) {
                gj.layer.addTo(map);
            } else {
                map.removeLayer(gj.layer);
            }
        });
    });

    var toggleButton = document.getElementById("sidenav-toggle");
    var sidenav = document.getElementById("slide-out");

    toggleButton.addEventListener("click", function() {
        sidenav.classList.toggle("hidden");
    });
    
    document.addEventListener('DOMContentLoaded', function() {
    // Initialize the sidenav
    var sidenav = M.Sidenav.init(document.querySelectorAll('.sidenav'), {});
    var map = document.getElementById("map");
    var toggleButton = document.getElementById("sidenav-toggle");
    toggleButton.addEventListener("click", function(event) {
        // Check if the sidenav is open or closed
        if(sidenav[0].isOpen){
            sidenav[0].close();
            map.classList.remove("sidenav-open");
            toggleButton.classList.remove("sidenav-open");
        }else{
            sidenav[0].open();
            map.classList.add("sidenav-open");
            toggleButton.classList.add("sidenav-open");
        }
    });
}); 

    geojsonLayers.forEach(function(gj) {
    const colorPickerId = gj.id + "-color-picker";
    const colorPicker = document.getElementById(colorPickerId);
    colorPicker.addEventListener("change", function() {
        const color = colorPicker.value;
        gj.layer.setStyle({
            color: color,
        });
    });
    const fillColorPickerId = gj.id + "-fillcolor-picker";
    const fillColorPicker = document.getElementById(fillColorPickerId);
    fillColorPicker.addEventListener("change", function() {
        const fillColor = fillColorPicker.value;
        gj.layer.setStyle({
            fillColor: fillColor,
        });
    });
    const fillOpacityInput = document.getElementById(gj.id + "-fill-opacity");
    fillOpacityInput.addEventListener("change", function() {
        const fillOpacity = fillOpacityInput.value;
        gj.layer.setStyle({fillOpacity: fillOpacity});
    });

    const lineSizeInput = document.getElementById(gj.id + "-line-size");
    lineSizeInput.addEventListener("change", function() {
        const lineSize = lineSizeInput.value;
        gj.layer.setStyle({weight: lineSize});
    });
    });



</script>
{% endblock %}
