
{% extends  "main/header.html"%}

{% block content %}
{% load static %}

<!-- Materialize CSS styles -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Container for the download page -->
<div class="container">
  <!-- Tabs for the raster and vector datasets -->
  <ul class="tabs">
    <li class="tab col s6"><a class="active" href="#raster-tab">Raster datasets</a></li>
    <li class="tab col s6"><a href="#vector-tab">Vector datasets</a></li>
  </ul>
  <!-- Tab content for the raster datasets -->
  <div id="raster-tab" class="col s12">
    {% if raster_datasets %}
      <!-- Table to display the raster datasets -->
      <table class="striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Download</th>
          </tr>
        </thead>
        <tbody>
          {% for dataset in raster_datasets %}
            <tr>
              <td>{{ dataset.name }}</td>
              <td>
                <!-- Link to download the dataset -->
                <a href="{{ dataset.file.url }}" download>Download</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <!-- Message if the user has no raster datasets -->
      <p>You have no raster datasets.</p>
    {% endif %}



{% endblock %}
