{% load static %}
<footer id="footer" class="page-footer blue-grey darken-2" >
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Info</h5>
          <p class="white-text text-lighten-4">
            This is the deep forest website
          </p>
          <a class="white-text text-lighten-4 left" href="/about">About</a>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Keep in touch:</h5>
          <ul>
            <li style="display:inline;"><a class="white-text text-lighten-3" href="https://www.instagram.com/felipematheuspinto/" target="_blank"><img src="{% static 'imgs/icons8-instagram-48.png' %}" width="25" height="25"></a></li>
            <li style="display:inline;"><a class="white-text text-lighten-3" href="https://twitter.com/felipemathpinto/" target="_blank"><img src="{% static 'imgs/icons8-twitter-48.png' %}" width="25" height="25"></a></li>
            <li style="display:inline;"><a class="white-text text-lighten-3" href="https://www.linkedin.com/in/felipe-matheus-pinto-70042b113" target="_blank"><img src="{% static 'imgs/icons8-linkedin-48.png' %}" width="25" height="25"></a></li>
            <li style="display:inline;"><a class="white-text text-lighten-3" href="https://stackoverflow.com/users/14254779/felipe-matheus-pinto" target="_blank"><img src="{% static 'imgs/icons8-stack-overflow-48.png' %}" width="25" height="25"></a></li>
            <li style="display:inline;"><a class="white-text text-lighten-3" href="https://github.com/felipempinto" target="_blank"><img src="{% static 'imgs/icons8-github-50.png' %}" width="25" height="25"></a></li>
            <li class="'email" style="display:inline;"><a class="white-text text-lighten-3" href="mailto:felipempfreelancer@gmail.com?subject=Deep forest help" target="_blank"><img src="{% static 'imgs/icons8-email-64.png' %}" width="25" height="25"></a></li>
            <li style="display:inline;"><a class="white-text text-lighten-3" href="https://www.upwork.com/freelancers/~01dac11ce87134abd6" target="_blank"><img src="{% static 'imgs/icons8-upwork-50.png' %}" width="25" height="25"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container white-text">
        © 2022 Copyright Text
      </div>
    </div>
  </footer>