{% load static %}


<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">
      <img id="logo" class="responsive-img" src="{% static 'imgs/Logo.png'%}" alt="Logo" style="max-width:100px;">
    </a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.is_authenticated %}
        <li class="li-drop"><a style="color: black;" href="/map/">Map</a></li>
        <li class="li-drop"><a style="color: black;" href="/download/">Datasets</a></li>
        <li class="li-drop"><a style="color: black;" href="/user/">Profile</a></li>
        <li class="li-drop"><a style="color: black;" href="/logout/">Logout</a></li>
      {% else %}
        <li class="li-drop"><a style="color: black;" href="/login/">Login</a></li>
      {% endif %}

    </ul>
  </div>
</nav>

<script>
  const elemsDropdown = document.querySelectorAll(".dropdown-trigger");
  const instancesDropdown = M.Dropdown.init(elemsDropdown,{
    coverTrigger:false,
    constrainWidth:false,
    alignment:'right',
  }
  );
</script>
      